body {
    background-color: #161616;
}

#container {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 5.5px;
    margin-top: 5px;

    & #content {
        background-color: #161616;;
        height: 25px;
        width: 350px;
        text-align: center;
        padding-top: 5px;
        border: solid 2px #3a71a0;
        border-radius: 10px;
    }

    & a {
        text-align: center;
        text-decoration: none;
        padding-right: 15px;
        padding-left: 15px;
        color: #e6edf3;
        transition: 0.2s;
    }
}

#container a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: #3a71a0;
    transition: 0.2s;
}

#tudo {
    margin-top: 5%;
    color: #e6edf3;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    padding: 2.5% 4% 2% 4%;
    border-radius: 10px;
    border: 2px solid #88b3da;
    background-color: #161616;
    box-shadow: 0 0 10px #3a71a0;
}

h1 {
    margin-top: 10px;
}

img {
    display: block;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 2,5%;
    margin-bottom: 5%;
    float: right;
    border-radius: 5%;
    box-shadow: 3px 4px 6px #3a71a0;
}

button {
    background-color: #e6edf3;
    color:#161616;;
    border: 0.5px solid #e6edf3;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 5px;
    transition: 0.5s;
    cursor: pointer;
}

button:hover {
    background-color: #161616;;
    border: 0.5px solid #e6edf3;
    color: #e6edf3;
    transition: 0.5s;
}

#project {
    display: flex;
    gap: 10px;
}

.projetos {
    height: 50%;
    width: 35%;
    float: left;
    background-color: #252525;
    color: #e6edf3;
    border: 1px solid #3a71a0;
    border-radius: 5px;
    padding: 10px 15px;
    box-shadow: 0 0 10px #3a71a0;
    transition: 0.5s;

    & i {
        font-size: 60px;
        margin: 5px;
        color: #e6edf3;
    }

    & button {
        margin: 7px;
    }
}

.projetos:hover {
    background-color: #161616;
}

#redessociais {
    display: flex;
    color: #e6edf3;
    justify-content: center;
    align-items: center;
    gap: 10px;

    p {
        padding-left: 10px;
        padding-top: 10px;
    }

    & i {
        font-size: 25.5px;
        margin: 5px;
        color: #e6edf3;
        border: none;
        transition: 0,4s;
        width: 100%;
    }
}

#redessociais i:hover {
    font-size: 35px;
    transition: 0.5s;
}

ul {
    list-style-type: none;

    p {
        margin: 5px 0;
    }

    & i {
        width: 15px;
    }
}
  
  

#redessociais i:hover {
    font-size: 35px;
    transition: 0.5s;
}
